/*.root {
  background-color: #eee;
  padding: 10px;
  border: 3px solid #ccc;
}*/
.containt{}
.containt ul{}
.containt li{
  position: relative;
  text-align: center;
  line-height: 30px;
}
.containt li .btn{
  position: absolute;
  right: 5%;
  top: 5px;
}
